/* Containers
===================== */

.container {
  padding: 4em;
}

.home {
  background: url(#{$path-img}/home-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;

  @media #{$brk-large} {
     height: 100vh;
     background-size: cover; 
     background-attachment: fixed;
  }
}

#about {
  background: url(#{$path-img}/about-bg.jpg);
  background-size: cover;
  background-position: center;

  @media #{$brk-large} {
    background-attachment: fixed;
  }
}

#portfolio {
  & .container {
    padding-bottom: 0;
  }

  @media #{$brk-medium} {
    & .container {
        padding-bottom: 4em;
    }
  }
}

#contact {
  background: url(#{$path-img}/contact-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-color: #3c6472;
  background-position: 0% 0;

  & .container {
      padding-top: 0;
  }

  @media #{$brk-medium} {
    & .container {
        padding-top: 4em;
    }
  }
}

.progress-bar {
  @include text ( .7em, $text-transform: uppercase );
  margin-bottom: 1.5em;

  @media #{$brk-medium} {
     font-size: .8em;
  }
}

.progress-wrap,
.progress {
  height: 7px;
}

.progress-wrap {
  position: relative;
  background-color: $boulder;
}

.progress {
  position: absolute;
  width: 0%;
  left: 0;
  top: 0;
  background-color: $blaze-orange;
}


